{% extends 'base.html.twig' %}

{% block title %}Home - Warehouse CRM{% endblock %}

{% block body %}
    <h1>Добро пожаловать в Warehouse CRM</h1>
    <p>Это домашняя страница вашего проекта.</p>
{% endblock %}